<h3>Makale Oluştur</h3>
<hr>

<div *ngIf="articleForm">
  <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>Başlık</label>
      <input type="text" class="form-control" formControlName="title">
      <span *ngIf="getControls.title.invalid && getControls.title.touched" class="text-danger">
        {{myValidation.getValidationMessages(getControls.title,'Başlık')}}</span>
    </div>

    <div class="form-group">
      <label>Makale İçeriği</label>
      <ckeditor [editor]="Editor"  formControlName="content" (ready)="onReady($event)"></ckeditor>
      <span *ngIf="getControls.content.invalid && getControls.content.touched" class="text-danger">
        {{myValidation.getValidationMessages(getControls.content,'İçerik')}}</span>
    </div>

    <div class="card my-2" style="padding: 1rem; border: 2px solid red;" *ngIf="errorTitle.length>0 || errorContent.length>0 ">
      <div *ngIf="errorTitle.length>0">
        <p class="text-danger" *ngFor="let item of errorTitle">{{item}}</p>
      </div>
      <div *ngIf="errorContent.length>0">
        <p class="text-danger" *ngFor="let item of errorContent">{{item}}</p>
      </div>
    </div>
    <!-- <button type="submit" class="btn btn-primary">Makale Ekle</button> -->

    <button  [disabled]="articleForm.invalid" class="btn btn-primary" type="submit" #submitButton>
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span *ngIf="loading"> Kaydediliyor</span>
      <span *ngIf="!loading">Makale Ekle</span>
    </button>



  </form>
</div>
